# Laravel specific files
/vendor/
/node_modules/
/public/storage
/storage/*.key
/.env
/.env.*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# IDE specific files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db
